//Primary
$drkviolet: hsl(256, 26%, 20%);
$gryblu: hsl(216, 30%, 68%);

//Neutral
$Vdrkviolet: hsl(256, 26%, 20%);
$Dgryviolet: hsl(273, 4%, 51%);
$Vlgtgry: hsl(0, 0%, 98%);

$bodyfntsize: 16;

$headingwt: 400;

$fntfamilyH: "DM Serif Display", serif;
$fntfamilyB: "Karla", sans-serif;
$bdywt: 400;
$Bbdywt: 700;
