header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo-container,
.mobile-switch {
  display: inline-block;
}

.logo-container {
  margin-left: 1.6rem;
  margin-top: 1.7rem;
}

.mobile-switch {
  float: right;
  margin-right: 1rem;
  margin-top: 1rem;
  border: none;
  background-color: white;
  cursor: pointer;
}

.mobile-close {
  display: none;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.navigation {
  background-color: $Vdrkviolet;
  letter-spacing: 1px;
  font-family: $fntfamilyB;
  font-weight: 700;
  font-size: 1.2rem;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px 20px 10px 20px;
}

.navbar-item {
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin: 15px 0;
}

.box {
  border: 1px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.navbar-item a {
  padding: 15px 0;
}

@media screen and (min-width: 920px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  .logo-container {
    margin-left: 10%;
  }
  .nav-list {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
  }
  .navigation {
    display: inline-block;
    background-color: white;
    width: 50%;
    margin-right: 5%;
  }

  .navbar-item {
    color: $Dgryviolet;
    margin: 15px 10px;
  }

  .mobile-bg {
    display: none;
  }

  .mobile-switch {
    display: none;
  }

  .box {
    border: 1px solid black;
    padding: 10px 20px;
    top: -10px;
    position: relative;
    color: black;
    margin: 15px 10px;
  }
}
