header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo,
.mobile-switch {
  display: inline-block;
}

.logo {
  margin-left: 1rem;
  margin-top: 1.7rem;
}

.mobile-switch {
  float: right;
  margin-right: 1rem;
  margin-top: 1rem;
  border: none;
  background-color: white;
}

.navigation {
  //display: none;
  background-color: $Vdrkviolet;
  letter-spacing: 1px;
  font-family: $fntfamilyB;
  font-weight: 700;
  font-size: 1.2rem;
}

.navigation ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 10px;
}

.navigation ul li {
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin: 15px 0;
}

.navigation ul li:last-child {
  border: 1px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navigation ul li a {
  padding: 15px 0;
}
