body {
  margin: 0;
  font-size: 16; }

li {
  list-style-type: none; }

a {
  text-decoration: none;
  color: unset; }

img {
  max-width: 100%;
  height: auto; 
  display: block;}

ul {
  padding: 0; }

header {
  padding-top: 10px;
  padding-bottom: 10px; }

.logo-container,
.mobile-switch {
  display: inline-block; }

.logo-container {
  margin-left: 1.6rem;
  margin-top: 1.7rem; }

.mobile-switch {
  float: right;
  margin-right: 1rem;
  margin-top: 1rem;
  border: none;
  background-color: white;
  cursor: pointer; }

.mobile-close {
  display: none; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.navigation {
  background-color: #2b272f;
  letter-spacing: 1px;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 1.2rem; }

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px 20px 10px 20px; }

.navbar-item {
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin: 15px 0; }

.box {
  border: 1px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  text-align: center;
  text-transform: uppercase; }

.navbar-item a {
  padding: 15px 0; }

@media screen and (min-width: 920px) {
  header {
    display: flex;
    justify-content: space-between; }
  .logo-container {
    margin-left: 10%; }
  .nav-list {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0; }
  .navigation {
    display: inline-block;
    background-color: white;
    width: 50%;
    margin-right: 5%; }
  .navbar-item {
    color: #837d87;
    margin: 15px 10px; }
  .mobile-bg {
    display: none; }
  .mobile-switch {
    display: none; }
  .box {
    border: 1px solid black;
    padding: 10px 20px;
    top: -10px;
    position: relative;
    color: black;
    margin: 15px 10px; } }

.banner {
  display: flex;
  flex-direction: column; }

.heading {
  font-family: "DM Serif Display", serif;
  font-size: 2.4rem;
  font-weight: 400; }

.paragraph {
  line-height: 25px;
  font-family: "Karla", sans-serif; }

.banner img {
  width: 100%; }

.intro {
  background-image: url("images/bg-pattern-intro-left-mobile.svg"), url("images/bg-pattern-intro-right-mobile.svg");
  background-repeat: no-repeat;
  background-position: top left, bottom -60% right;
  background-color: #2d2640;
  color: white;
  padding: 130px 5%;
  text-align: center;
  margin-top: -5px; }

.banner-btn {
  padding: 10px 20px;
  margin-top: 30px;
  display: inline-block;
  font-family: "Karla", sans-serif;
  color: white;
  border: 1px solid white; }

  #services {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .services-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
  }

  .service {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .service-p {
    width: 70%;
    margin: auto;
  }
  @media screen and (min-width: 1200px) {
    .img-container {
      align-self: end;
      margin-right: 8%;
      margin-top: -350px;
      z-index: 1; }

      .img-container img {
        max-width: 95%;
      }
  }


@media screen and (min-width: 950px) {
  .banner {
    flex-direction: column-reverse; }
  .intro {
    text-align: left;
    background-image: url("images/bg-pattern-intro-left-desktop.svg"), url("images/bg-pattern-intro-right-desktop.svg");
    background-repeat: no-repeat;
    background-position: bottom -200px left, top right; }


  .paragraph {
    width: 45%; } 


  .services-list {
    flex-direction: row;
    justify-content: space-evenly;
  }
 
  #services .heading {
    align-self: flex-start;
    width: 90%;
    margin: auto;
  }
  }
